{% extends "dashboard_base.html" %}
{% load i18n %}
{% block sheri %}
{% comment %} <div class="bg-light-orange p-3">
    <a href="{% url 'AddService' %}" class="btn btn-light">Add Service</a>
</div>
 {% endcomment %}



<!-- Project Form -->
<div class="container p-4 ">
    <h5>
        <i class="bi bi-gear-fill"></i>
        {% trans "School Settings" %}</h5>

    <form class="bg-body-tertiary p-4 rounded needs-validation" novalidate id="project_form" method="post">
        {% csrf_token %}

        
        <div class="row row-cols-1 row-cols-md-2">
            <div class="mb-3 col">
                <label for="exampleFormControlInput1" class="form-label">
                    <i class="bi bi-person-up"></i>
                    {% trans "First name" %}
                </label>
                {{form.first_name}}
                <div class="valid-feedback">
                    {% trans "Looks good!" %}
                  </div>
                  <div class="invalid-feedback">
                    {% trans "Please fill a first name." %}
                  </div>
            </div>
            <div class="mb-3 col">
                <label for="exampleFormControlInput1" class="form-label">
                    <i class="bi bi-person-down"></i>
                    {% trans "Last name" %}
                </label>
                {{form.last_name}}
                <div class="valid-feedback">
                    {% trans "Looks good!" %}
                  </div>
                  <div class="invalid-feedback">
                    {% trans "Please fill a last name." %}
                  </div>
            </div>
            <div class="mb-3 col">
                <label for="exampleFormControlInput1" class="form-label">
                    <i class="bi bi-fingerprint"></i>
                    {% trans "Username" %}
                </label>
                {{form.username}}
                <div class="valid-feedback">
                    {% trans "Looks good!" %}
                  </div>
                  <div class="invalid-feedback">
                    {% trans "Please fill a username." %}
                  </div>
            </div>
            <div class="mb-3 col">
                <label for="exampleFormControlInput1" class="form-label">
                    <i class="bi bi-fingerprint"></i>
                    {% trans "Email" %}
                </label>
                {{form.email}}
                <div class="valid-feedback">
                    {% trans "Looks good!" %}
                  </div>
                  <div class="invalid-feedback">
                    {% trans "Please fill a Email." %}
                  </div>
            </div>
            <div class="mb-3 col">
                <label for="exampleFormControlInput1" class="form-label">
                    <i class="bi bi-key"></i>
                    {% trans "Password" %}
                </label>
                {{form.password}}
                <div class="valid-feedback">
                    {% trans "Looks good!" %}
                  </div>
                  <div class="invalid-feedback">
                    {% trans "Please fill a password." %}
                  </div>
            </div>
            <div class="mb-3 col">
                <label for="exampleFormControlInput1" class="form-label">
                    <i class="bi bi-telephone"></i>
                    {% trans "Phone number" %}
                </label>
                {{form.number}}
                <div class="valid-feedback">
                    {% trans "Looks good!" %}
                  </div>
                  <div class="invalid-feedback">
                    {% trans "Please fill a phone number." %}
                  </div>
            </div>
            
        </div>

        <div id="loadingSpinner" style="display: none; text-align: center; margin-top: 20px;">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">جارٍ التحميل...</span>
            </div>
        </div>
        <!-- Progress -->
        <div class="mb-3">
            <h5>{% trans "Progress" %}</h5>
            <div class="row row-cols-2 row-cols-md-4 justify-content-md-between g-4 text-center text-black">
                <div class="col">
                    <button type="button" class="btn btn-outline-success px-3 rounded-4 active">
                        <i class="bi bi-1-square fs-5"></i>
                    </button>
                    <span class="fw-bold d-block text-success">
                      <i class="bi bi-patch-check-fill"></i>
                      {% trans "Create Project" %}</span>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-outline-success px-3 rounded-4 active">
                        <i class="bi bi-2-square fs-5"></i>
                    </button>
                    <span class="fw-bold d-block text-success">
                      <i class="bi bi-patch-check-fill"></i>
                      {% trans "Choose Plan" %}</span>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-outline-dark px-3 rounded-4 active">
                        <i class="bi bi-3-square fs-5"></i>
                    </button>
                    <span class="fw-bold d-block">
                      <i class="bi bi-hourglass-split"></i>
                        {% trans "Project Settings" %}</span>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-outline-dark px-3 rounded-4">
                        <i class="bi bi-4-square fs-5"></i>
                    </button>
                    <span class="fw-bold d-block">
                      <i class="bi bi-patch-exclamation"></i>
                        {% trans "Done" %}</span>
                </div>
            </div>
        </div>
        <!-- End Progress -->


        <button id="nextBtn" type="submit" class="btn bg-light-orange">{% trans "Next" %}
            <i class="bi bi-caret-right-fill"></i>
        </button>
    </form>
</div>
<!-- End Project Form -->
<div class="py-4"></div>

<script>
document.getElementById("project_form").addEventListener("submit", function (event) {
    event.preventDefault();  // منع الإرسال الفوري للنموذج

    // إظهار دائرة التحميل
    let loadingSpinner = document.getElementById("loadingSpinner");
    let nextBtn = document.getElementById("nextBtn");
    nextBtn.classList.add('disabled')
    loadingSpinner.style.display = "block";

    // إعداد البيانات لتكون جزءًا من الطلب
    let formData = new FormData(this);

    // إرسال الطلب باستخدام Fetch API
    fetch(this.action, {
        method: 'POST',
        body: formData,
    })
    .then(response => response.json())  // استلام البيانات المرسلة من الخادم
    .then(data => {
        // إذا كان الطلب ناجحًا، يمكنك القيام بشيء مثل إعادة التوجيه أو عرض رسالة النجاح
        if (data.success) {
            window.location.href = data.redirect_url;  // أو أي شيء آخر
        } else {
            nextBtn.classList.remove('disabled')
             // في حالة وجود خطأ، يمكنك إظهار الأخطاء من الخادم
             if (data.errors) {
                alert("حدث خطأ: " + data.errors);
             }
             
         }
    })
    .catch(error => {
        console.error('Error:', error);
        nextBtn.classList.remove('disabled')
        alert("حدث خطأ. الرجاء المحاولة مرة أخرى.");
    })
    .finally(() => {
        // إخفاء دائرة التحميل بعد إتمام الطلب
        loadingSpinner.style.display = "none";
        
    });
});


</script>

{% endblock %}