{% load notifications_tags %}
{% load i18n %}
{% has_not_readed_noti request.user.id as has_not_readed_noti_notification %}

<nav class="navbar bg-light-orange p-3">
    <div class="container-fluid">
      <div>
        <!-- فتح Offcanvas -->
        <a class="navbar-brand btn btn-light p-2 px-3 offcanvas-open-close" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
          <i class="fa-solid fa-arrow-left"></i>
        </a>

        <!-- زر العودة -->
        <a class="navbar-brand btn btn-light p-2 px-3 offcanvas-open-close" href="javascript:history.go(-1)">
          <i class="fa-solid fa-caret-left"></i>
        </a>
      </div>

      <div class="d-flex flex-row-reverse">
        <!-- الإشعارات -->
        <a class="navbar-brand btn btn-light p-2 px-3 position-relative" id="noti" tabindex="0" role="button" data-bs-toggle="popover" title="الاشعارات" onclick="ReadMsgs()">
            <i class="fa-regular fa-bell"></i>
            {% if has_not_readed_noti_notification %}
            <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle noti-not-readed-box">
                <span class="visually-hidden">{% trans "New alerts" %}</span>
            </span>
            {% endif %}
        </a>

        <!-- سؤال/مساعدة -->
        <a href="#" class="navbar-brand btn btn-light p-2 px-3">
            <i class="fa-regular fa-circle-question"></i>
        </a>

        {% comment %}
        <a href="#" class="navbar-brand btn btn-light p-2 px-3">
            <i class="fa-solid fa-gear"></i>
        </a>
        {% endcomment %}
      </div>
    </div>
</nav>

<div data-name="popover-content-noti" id="popover-content-noti" class="d-none" style="width: min(100%, 400px);">
  {% include 'notifications/viewNotifications.html' %}
</div>
