{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block sheri %}
<div class="py-4"></div>

 <!-- Contact -->
 <div class="px-3 my-5">
    <div class="container py-3 border rounded shadow-lg" style="max-width: 568px;">
        <form class="p-4 p-sm-5" method="post">
            {% csrf_token %}
            <div class="text-center">
                <img width="130" src="{% static 'img/softmsg-logo.webp' %}" alt="" class="mb-2">
                <h3 class="mb-3 text-dark">{% trans "Create an account" %}</h3>
            </div>

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">
                    <i class="fa-solid fa-envelope"></i>
                    {% trans "Email Address" %}
                </label>
                {{form.email}}
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">
                    <i class="fa-solid fa-star"></i>
                    {% trans "Password" %}
                </label>
                {{form.password}}
            </div>

            <input type="hidden" name="g-recaptcha-response" id="g-recaptcha-response">

            <button type="submit" class="btn btn-dark w-100 mt-3">
                <i class="fa-solid fa-right-to-bracket me-1"></i> {% trans "Log in" %}
            </button>

            <div class="text-center mt-3">
                <a href="{% url 'Signup' %}" class="text-decoration-none">
                    {% trans "Dont have account? Create Account" %}
                </a>
            </div>
        </form>
    </div>
</div>
 <!-- End Contact -->

<!-- reCAPTCHA v3 -->
<script src="https://www.google.com/recaptcha/api.js?render={{RECAPTCHA_SITE_KEY}}"></script>
<script>
grecaptcha.ready(function() {
    grecaptcha.execute("{{RECAPTCHA_SITE_KEY}}", {action: 'login'}).then(function(token) {
        document.getElementById('g-recaptcha-response').value = token;
    });
});
</script>

{% endblock sheri %}